#background {
  // Estilos do background na forma de código binário aleatórios
  z-index: -1;
  position: absolute;
  display: block;
  background-color: black;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid $gray-border;
  border-radius: 6px;

  background-color: $gray-background;

  box-shadow: $shadow;

  height: 40rem;
  padding: 2rem;

  @include resp(sm) {
    font-size: 1.3rem;
    width: 80%;
  }

  @include resp(md) {
    font-size: 1.5rem;
    width: 70%;
  }

  @include resp(xl) {
    width: 40%;
  }

  @include resp(xxl) {
    width: 30%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8rem;

  // Row 1 contendo os selects
  &:first-child {
    justify-content: flex-start;

    & > .form-group:first-child {
      margin-right: 1.6rem;
    }
  }

  // Row 3 contendo os botões
  &:nth-child(3) {
    justify-content: flex-start;

    & > button {
      padding: 1.2rem;
      border: none;
      border-radius: 4px;
      font-size: 1.5rem;
      font-weight: bold;
      color: $white-background;
      display: flex;
      align-items: center;

      .button-icon {
        fill: $white-background;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.4rem;
      }

      &:first-child {
        background-color: $green-button;
        margin-right: 1.6rem;
        // transition: all 0.2s ease;

        &:active {
          background-color: $green-button-active;
          // transition: all 0.2s ease-in-out;
        }
      }
      &:last-child {
        background-color: $gray-button;
        // transition: all 0.2s ease-in-out;

        &:active {
          background-color: $gray-button-active;
          // transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  width: 100%;

  & > label,
  select {
    display: block;
  }

  & > label {
    margin-bottom: 0.8rem;
  }

  & > select {
    padding: 1rem;
    font-size: 1.6rem;
    background-color: $white-background;
    width: 100%;
    border: $border;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.35);
    }
  }

  & > input {
    padding: 1rem;
    border: $border;
    background-color: $white-background;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.4);
      transition: all 0.2s ease-in-out;
    }
  }

  & > textarea {
    height: 10rem;
    width: 100%;
    border: $border;
    background-color: $white-background;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.35);
      transition: all 0.2s ease-in-out;
    }
  }
}
