*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: black;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-text-size-adjust: 10%; }

body {
  font-size: 1.6rem;
  height: 100%; }
  @media screen and (max-width: 639px) {
    body {
      font-size: 1.5rem; } }

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden; }

#background {
  z-index: -1;
  position: absolute;
  display: block;
  background-color: black;
  overflow: hidden; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #d4d5d4;
  border-radius: 6px;
  background-color: #f0eedc;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 40rem;
  padding: 2rem; }
  @media screen and (max-width: 639px) {
    .container {
      font-size: 1.3rem;
      width: 70%; } }
  @media screen and (min-width: 640px) {
    .container {
      font-size: 1.5rem;
      width: 60%; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 50%; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: 40%; } }
  @media screen and (min-width: 1536px) {
    .container {
      width: 30%; } }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8rem; }
  .row:first-child {
    justify-content: flex-start; }
    .row:first-child > .form-group:first-child {
      margin-right: 1.6rem; }
  .row:nth-child(3) {
    justify-content: flex-start; }
    .row:nth-child(3) > button {
      padding: 1.2rem;
      margin-right: 1.6rem;
      border: none;
      border-radius: 4px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fdfcfa;
      display: flex;
      align-items: center; }
      .row:nth-child(3) > button:first-child:disabled {
        background: #ff4c30;
        transition: all 0.2s ease-in-out; }
        .row:nth-child(3) > button:first-child:disabled:active {
          background: #ff4c30; }
      .row:nth-child(3) > button .button-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.4rem; }
      .row:nth-child(3) > button:first-child {
        background-color: #16a34a; }
        .row:nth-child(3) > button:first-child:active {
          background-color: #15803d; }
      .row:nth-child(3) > button:nth-child(2), .row:nth-child(3) > button:nth-child(3) {
        background-color: #64748b; }
        .row:nth-child(3) > button:nth-child(2):active, .row:nth-child(3) > button:nth-child(3):active {
          background-color: #334155; }

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .form-group > label,
  .form-group select {
    display: block; }
  .form-group > label {
    margin-bottom: 0.8rem; }
  .form-group > select {
    padding: 1rem;
    font-size: 1.6rem;
    background-color: #fdfcfa;
    width: 100%;
    border: 1px solid #d4d5d4;
    border-radius: 3px;
    transition: all 0.2s ease-in-out; }
    .form-group > select:focus {
      outline: none;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.35); }
  .form-group > input {
    padding: 1rem;
    border: 1px solid #d4d5d4;
    background-color: #fdfcfa;
    border-radius: 3px;
    transition: all 0.2s ease-in-out; }
    .form-group > input:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.4);
      transition: all 0.2s ease-in-out; }
  .form-group > textarea {
    height: 10rem;
    width: 100%;
    border: 1px solid #d4d5d4;
    background-color: #fdfcfa;
    border-radius: 3px;
    transition: all 0.2s ease-in-out; }
    .form-group > textarea:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(29, 155, 240, 0.35);
      transition: all 0.2s ease-in-out; }
