$blue-one: #049cb3;
$green-one: #008f11;
$gray-one: #cfd9de;
$gray-background: #f0eedc;
$gray-border: #d4d5d4;
$black-background: #0d0208;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: black;
  height: 100%;

  // Ajusta o texto no Safari do iPhone
  -webkit-text-size-adjust: 10%;
}

body {
  font-size: 1.6rem;
  height: 100%;
}
