*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: black;
  height: 100%;
  font-family: $font-family;

  // Ajusta o texto no Safari do iPhone
  -webkit-text-size-adjust: 10%;
}

body {
  font-size: 1.6rem;
  height: 100%;

  @include resp(sm) {
    font-size: 1.5rem;
  }
}
